body {
	width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@-moz-keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}


@media screen and (max-width: 600px) {
    h6 {
        font-family: 'Open Sans';
        font-size: 2.5vh;
        text-align: left;
        position: absolute;
        padding: 0;
        top: 40px;
        right: 0;
        left: 10px;
    }
    
    h5 {
        font-family: 'Open Sans';
        font-size: 2vh;
        text-align: left;
        position: absolute;
        padding: 0;
        top: 20px;
        right: 0;
        left: 15px;
    }

    h2 {
        font-family: 'Open Sans';
        font-size: 3vh;
    }
    
    h1 {
        font-family: 'Open Sans';
        font-size: 6vh;
    }
  }


  @media screen and (min-width: 600px) {
    h6 {
        font-family: 'Open Sans';
        font-size: 4vh;
        text-align: left;
        position: absolute;
        padding: 0;
        top: 40px;
        right: 0;
        left: 50px;
    }
    
    h5 {
        font-family: 'Open Sans';
        font-size: 2vh;
        text-align: left;
        position: absolute;
        padding: 0;
        top: 20px;
        right: 0;
        left: 50px;
    }

    h2 {
        font-family: 'Open Sans';
        font-size: 4vh;
    }
    
    h1 {
        font-family: 'Open Sans';
        font-size: 5vh;
    }
  }  


#textoBig {
    font-size: 8vw;
}

#textoSmall {
    font-size: 4vw;
}

#fecha {
    text-decoration: underline;
    cursor:pointer;
}


a {
    color: #fff;
    text-decoration: none;
}



#central {
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: relative; 
 }


#containerTop {
    width:90%;
    height: 10%;
    margin: 0 auto;
    top: 0;
    padding: 0;
    background-color: transparent;
    position: relative; 
}
#left {
    float:left;
    width:50px;
    text-align: left;
    margin: 0;
    top: 0;
    background-color: transparent;
}
#right {
    float:right;
    width:50px;
    text-align: right;
    margin: 0;
    background-color: transparent;
}

#right:hover,#left:hover {
    cursor:pointer;
}

#center {
    margin:0 auto;
    text-align: center;
    background-color: transparent;
}